<?xml version="1.0" ?>
<robot name="AerialManipulator">
  <material name="carbon">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="tmotor">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="tip">
    <color rgba="0.7 0.3 0.3 1.0"/>
  </material>
  <material name="print">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
  <material name="battery">
    <color rgba="0.2 0.5 0.5 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>
  <material name="wash">
    <color rgba="1 0 0 .15"/>
  </material>
  <material name="prop">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="motor">
    <color rgba="0.5 0.5 .5 1.0"/>
  </material>

  <link name="vehicle">
    <inertial>
      <mass value="0.8"/> <!-- 0.706028   83527633 -->
      <inertia ixx="0.003063" ixy="0.000004" ixz="0.000000" iyy="0.001720" iyz="0.000028" izz="0.004585"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </inertial>
  </link>
  <link name="virtualvehicle">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius=".009" length=".036"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <!-- Printed Mounts -->
    <visual>
      <origin xyz="0 .0205 0" rpy="0 0 0" />
      <geometry>
        <box size=".048 .005 .02" />
      </geometry>
      <material name="print"/>
    </visual>
    <visual>
      <origin xyz="0 -.0205 0" rpy="0 0 0" />
      <geometry>
        <box size=".048 .005 .02" />
      </geometry>
      <material name="print"/>
    </visual>
    <!-- Plates -->
    <visual>
      <origin xyz="0 .061 -.0115" rpy="0 0 0" />
      <geometry>
        <box size=".048 .086 .003" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <visual>
      <origin xyz="0 -.061 -.0115" rpy="0 0 0" />
      <geometry>
        <box size=".048 .086 .003" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <visual>
      <origin xyz="0 .061 -.0345" rpy="0 0 0" />
      <geometry>
        <box size=".048 .086 .003" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <visual>
      <origin xyz="0 -.061 -.0345" rpy="0 0 0" />
      <geometry>
        <box size=".048 .086 .003" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <!-- Standoffs -->
    <visual>
      <origin xyz=".02 .022 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz=".02 -.022 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz="-.02 .022 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz="-.02 -.022 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz=".02 .099 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz=".02 -.099 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz="-.02 .099 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <visual>
      <origin xyz="-.02 -.099 -.023" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".002" length=".020"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <!-- Saddle -->
    <visual>
      <origin xyz="0 0 -.031" rpy="0 0 0" />
      <geometry>
        <box size=".009 .0455 .004" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <!-- Shoulder Motor -->
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0" />
      <geometry>
        <cylinder radius=".0278" length=".015"/>
      </geometry>
      <material name="tmotor"/>
    </visual>
    <!-- Arms -->
    <visual>
      <origin xyz=".057025 .062426 -0.008" rpy="0 0 0.575959" />
      <geometry>
        <box size=".100 .014 .004" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <visual>
      <origin xyz=".057025 -.062426 -0.008" rpy="0 0 -0.575959" />
      <geometry>
        <box size=".100 .014 .004" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <visual>
      <origin xyz="-.057025 .062426 -0.008" rpy="0 0 -0.575959" />
      <geometry>
        <box size=".100 .014 .004" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <visual>
      <origin xyz="-.057025 -.062426 -0.008" rpy="0 0 0.575959" />
      <geometry>
        <box size=".100 .014 .004" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <!-- Battery -->
    <visual>
      <origin xyz="0 .060 0" rpy="0 0 0" />
      <geometry>
        <box size=".036 .071 .022" />
      </geometry>
      <material name="battery"/>
    </visual>
    <visual>
      <origin xyz="0 -.060 0" rpy="0 0 0" />
      <geometry>
        <box size=".036 .071 .022" />
      </geometry>
      <material name="battery"/>
      </visual>
    </link>

  <joint name="vehicle_yaw_fix" type="fixed" dont_collapse="true">
    <parent link="vehicle"/>
    <child link="virtualvehicle"/>
    <origin rpy="0 0 1.57079632679" xyz="0 0 0"/>
  </joint>

  <link name="arm">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
      <!-- <origin xyz="0 0 -0.11499999999999999" rpy="0 3.14159265359 0" /> -->
    </inertial>
    <!-- Wrist Motor -->
    <visual>
      <origin xyz="0 0 -0.039999999999999994" rpy="0 3.14159265359 0" />
      <geometry>
        <cylinder radius=".0142" length="0.022"/>
      </geometry>
      <material name="motor" />
    </visual>
    <!-- Carbon Fiber Tube -->
    <visual>
      <!-- <origin xyz="0 0 -0.039999999999999994" rpy="0 0 0" /> -->
      <origin xyz="0 0 -0.11499999999999999" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".0075" length="0.11499999999999999"/>
      </geometry>
      <material name="carbon"/>
    </visual>
  </link>

  <joint name="joint_shoulder" type="revolute" dont_collapse="true">
    <parent link="virtualvehicle"/>
    <child link="arm"/>
    <axis rpy="0 0 0" xyz="0 -1 0"/>
    <origin rpy="0 -1.57079632679 0" xyz="0 0 0"/>
    <limit velocity="1e9" effort="2.0" lower="-31.4159265359" upper="31.4159265359" />
  </joint>

  <link name="gripper">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <!-- <inertial> -->
      <!-- <mass value="0.2"/> -->
    <!-- </inertial> -->
    <visual>
      <origin xyz="0 -.0207 0" rpy="1.57079632679 0 0" />
      <geometry>
        <box size=".04 .022 .01" />
      </geometry>
      <material name="carbon"/>
    </visual>
    <!-- Servo -->
    <visual>
      <origin xyz="0 -.0357 0" rpy="1.57079632679 0 0" />
      <geometry>
        <box size=".03 .015 .02" />
      </geometry>
      <material name="tmotor"/>
    </visual>
    <!-- Finger -->
    <visual>
      <origin xyz=".018 -.0007 0" rpy="1.57079632679 0 0" />
      <geometry>
        <box size=".004 .022 .03" />
      </geometry>
      <material name="tip"/>
    </visual>
    <!-- Finger -->
    <visual>
      <origin xyz="-.018 -.0007 0" rpy="1.57079632679 0 0" />
      <geometry>
        <box size=".004 .022 .03" />
      </geometry>
      <material name="tip"/>
    </visual>
  </link>

  <joint name="joint_wrist" type="revolute" dont_collapse="true">
    <parent link="arm"/>
    <child link="gripper"/>
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <origin rpy="1.57079632679 3.14159265359 1.57079632679" xyz="0 0 -0.205"/>
    <limit velocity="1e9" effort="1.0" lower="-31.4159265359" upper="31.4159265359" />
  </joint>

  <!-- Helpful for getting ee pose and adding an end mass for the model-based controller, this will be omitted (i.e., only modeling the platform itself)-->
  <link name="endeffector">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="4e-11" ixy="0.0" ixz="0.0" iyy="4e-11" iyz="0.0" izz="4e-11"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <!-- <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/> -->
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="gripper_attachment" type="fixed" dont_collapse="true">
    <parent link="gripper"/>
    <child link="endeffector"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="COM">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="com_placement" type="fixed" dont_collapse="true">
    <parent link="arm"/>
    <child link="COM"/>
    <origin rpy="0 0 0" xyz="0 0 -0.041"/>
  </joint>

  <!-- This is a workaround to model the end effector inertial properites in one link since we can't have two joints connecting the same links (arm and vehicle) -->
  <link name="endeffector_com">
    <inertial>
      <mass value="0.2"/>
      <!-- modeling inertia of the arm: cylinder with radius 2.5 cm (to account for gripper at end), length 20 cm -->
      <inertia ixx="2.7e-3" ixy="0.0" ixz="0.0" iyy="2.7e-3" iyz="0.0" izz="6.25e-5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="carbon"/>
    </visual>
  </link>

  <joint name="endeffector_com_placement" type="fixed" dont_collapse="true">
    <parent link="endeffector"/>
    <child link="endeffector_com"/>
    <origin rpy="-1.57079632679 0 0" xyz="0 -0.1 0"/>
  </joint>

  <link name="motor1">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".0142" length="0.022"/>
      </geometry>
      <material name="motor" />
    </visual>
  </link>
  <link name="motor2">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".0142" length="0.022"/>
      </geometry>
      <material name="motor" />
    </visual>
  </link>
  <link name="motor3">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".0142" length="0.022"/>
      </geometry>
      <material name="motor" />
    </visual>
  </link>
  <link name="motor4">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".0142" length="0.022"/>
      </geometry>
      <material name="motor" />
    </visual>
  </link>

  <link name="prop1">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".06477" length="0.007"/>
      </geometry>
      <material name="wash" />
    </visual>
  </link>
  <link name="prop2">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".06477" length="0.007"/>
      </geometry>
      <material name="wash" />
    </visual>
  </link>
  <link name="prop3">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".06477" length="0.007"/>
      </geometry>
      <material name="wash" />
    </visual>
  </link>
  <link name="prop4">
    <inertial>
      <mass value="1e-6"/>
      <inertia ixx="1e-10" ixy="0" ixz="0" iyy="1e-10" iyz="0" izz="1e-10"/>
      <origin rpy="0 0 0" xyz="0.0 0.04 0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius=".06477" length="0.007"/>
      </geometry>
      <material name="wash" />
    </visual>
  </link>




  <joint name="motor1" type="fixed" dont_collapse="true">
    <parent link="virtualvehicle"/>
    <child link="motor1"/>
    <origin xyz=".09057 .084212 .004" rpy="0 0 0" />
  </joint>
  <joint name="motor2" type="fixed" dont_collapse="true">
    <parent link="virtualvehicle"/>
    <child link="motor2"/>
    <origin xyz="-.09057 .084212 .004" rpy="0 0 0" />
  </joint>
  <joint name="motor3" type="fixed" dont_collapse="true">
    <parent link="virtualvehicle"/>
    <child link="motor3"/>
    <origin xyz="-.09057 -.084212 .004" rpy="0 0 0" />
  </joint>
  <joint name="motor4" type="fixed" dont_collapse="true">
    <parent link="virtualvehicle"/>
    <child link="motor4"/>
    <origin xyz=".09057 -.084212 .004" rpy="0 0 0" />
  </joint>

  <joint name="prop1" type="fixed">
    <parent link="motor1"/>
    <child link="prop1"/>
    <origin xyz="0 0 0.01" rpy="0 0 0"/>
    <axis rpy="0 0 0" xyz="0 0 1"/>
  </joint>
  <joint name="prop2" type="fixed">
    <parent link="motor2"/>
    <child link="prop2"/>
    <origin xyz="0 0 0.01" rpy="0 0 0"/>
    <axis rpy="0 0 0" xyz="0 0 1"/>
  </joint>
  <joint name="prop3" type="fixed">
    <parent link="motor3"/>
    <child link="prop3"/>
    <origin xyz="0 0 0.01" rpy="0 0 0"/>
    <axis rpy="0 0 0" xyz="0 0 1"/>
  </joint>
  <joint name="prop4" type="fixed">
    <parent link="motor4"/>
    <child link="prop4"/>
    <origin xyz="0 0 0.01" rpy="0 0 0"/>
    <axis rpy="0 0 0" xyz="0 0 1"/>
  </joint>
  



</robot>